.TodoForm {
	display: flex;
	flex-direction: column;
	max-width: 860px;
	border-radius: 0.7em;
	margin: 0 2em 10em;
	padding: 20px;
	width: 100%;
	background-color: #2b2b2b;
}
.TodoForm > textarea {
	border-radius: 10px;
	font-size: 14px;
	font-weight: 600;
	padding: 10px;
	min-height: 120px;
	outline: none;
}
.TodoForm .actions {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}
.actions > button {
	border-radius: 0.5em;
	border: none;
	padding: 1rem 0;
	color: #00d8ff;
	background-color: #3c3c3c;
	cursor: pointer;
	margin-top: 16px;
}
