.TodoItem {
	border-radius: 10px;
	border: solid 1px #ccc;
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
	margin: 8px 0;
	padding: 0 8px;
}
.TodoItem > span:first-child,
.TodoItem > span:last-child {
	font-size: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 64px;
	min-height: 40px;
	/* border: solid 1px #ccc; */
}
.TodoItem > span:nth-child(2) {
	display: flex;
	width: 80%;
	justify-content: left;
	/* border: solid 1px #ccc; */
}
.TodoItem > span:first-child:hover {
	cursor: pointer;
}
.TodoItem > span:last-child:hover {
	color: red;
	cursor: pointer;
}
.checked {
	color: rgb(4, 196, 4);
}

.scratched {
	text-decoration: line-through;
	text-decoration-thickness: 2px;
}
